/* MAIN */

.main-image {
    position: relative; /* Posição relativa para posicionamento do conteúdo absoluto */
    width: 100%; /* Certifique-se de definir a largura para ocupar todo o espaço disponível */
    height: calc(100vh - 80px); /* Defina a altura desejada subtraindo a altura do cabeçalho */
    overflow: hidden; /* Isso fará com que o conteúdo excedente seja cortado */
}

.main-image img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Para corrigir qualquer espaço extra ao redor da imagem */
}

.main-image h2 {
    position: absolute; /* Posicionamento absoluto para centralizar o texto */
    top: 20%; /* Posiciona o texto no centro vertical */
    left: 55%; /* Posiciona o texto no centro horizontal */
    color: white; /* Cor do texto */
    font-family: "Libre Baskerville", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Fonte do texto */
    font-size: 60px; /* Tamanho da fonte */
    font-weight: 300; /* Peso da fonte */
    -webkit-text-stroke: 1px black; /* Adiciona contorno ao texto */
}

/* RESPONSIVO */

@media (max-width: 950px) {
    .main-image img {
        height: 100vh; /* Define a altura da imagem para ocupar toda a altura da tela */
        width: auto; /* Define a largura automática para manter a proporção */
    }

    .main-image h2 {
        font-size: 27px; /* Redefine o tamanho da fonte para telas menores */
        left: 5%; /* Posiciona o texto mais à esquerda */
        top: 60%; /* Posiciona o texto mais abaixo */
        font-weight: 800; /* Ajusta o peso da fonte */
    }
}

.services {
    width: 85%; /* Largura do container de serviços */
    margin: auto; /* Centraliza horizontalmente */
}

.services h2 {
    text-align: end; /* Alinha o texto à direita */
    font-family: var(--freightBigPro); /* Fonte do texto */
    color: var(--dark-gray); /* Cor do texto */
    font-size: 54px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    margin: 80px 0; /* Margem superior e inferior */
}

.services .container {
    position: relative; /* Posição relativa para posicionamento do conteúdo absoluto */
    display: flex; /* Exibe os itens em linha */
}

.container figure {
    flex-basis: 70%; /* Define a base de flexão para 70% */
}

.container img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
}

.container .menu-container {
    background-color: var(--light-pink); /* Cor de fundo */
    position: absolute; /* Posicionamento absoluto */
    width: 50%; /* Largura */
    text-align: center; /* Alinhamento de texto */
    right: 0%; /* Alinha o elemento à direita */
    top: 50%; /* Posiciona o elemento no centro vertical */
    transform: translate(0, -50%); /* Centraliza verticalmente */
    font-family: var(--livory); /* Fonte do texto */
    color: var(--dark-gray); /* Cor do texto */
    padding: 20px; /* Adiciona espaço de preenchimento */
}

.menu-container h3 {
    font-size: 34px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    letter-spacing: 2px; /* Espaçamento entre letras */
}

.menu-container p {
    margin: 20px 0; /* Margem superior e inferior */
    font-size: 18px; /* Tamanho da fonte */
}

.menu-container button {
    background-color: var(--light-pink); /* Cor de fundo */
    padding: 20px 60px; /* Espaço de preenchimento */
    margin-top: 30px; /* Margem superior */
    font-family: var(--futuraPT); /* Fonte do texto */
    font-size: 16px; /* Tamanho da fonte */
    color: var(--light-purple); /* Cor do texto */
    border: 2px solid var(--light-purple); /* Borda sólida */
}

@media (max-width: 950px) {
    .services {
        width: 100%;
    }

    .services h2 {
        font-size: 32px;
    }

    .services .container {
        display: block;
    }

    .container .menu-container {
        position: relative; /* Posicionamento absoluto em relação ao container pai */
        width: 93%; /* Largura */
        text-align: center; /* Alinhamento de texto */
        font-family: var(--livory); /* Fonte do texto */
        color: var(--dark-gray); /* Cor do texto */
        padding: 20px 10px; /* Adiciona espaço de preenchimento */
        left: 50%; /* Alinha o elemento no centro horizontal */
        transform: translate(-40%, -10%); /* Centraliza horizontalmente */
    }

    .menu-container h3 {
        font-size: 28px; /* Tamanho da fonte */
        font-weight: 400; /* Peso da fonte */
        letter-spacing: 2px; /* Espaçamento entre letras */
    }

    .menu-container p {
        margin: 30px 0; /* Margem superior e inferior */
        font-size: 19px; /* Tamanho da fonte */
    }
}
