@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --dark-purple: #5A0264; /* Cor roxa escura */
    --dark-gray: #404040; /* Cor cinza escura */
    --light-pink: #ECE4F1; /* Cor rosa claro */
    --light-purple: #814992; /* Cor roxa claro */

    --freightBigPro: "Cormorant Garamond", "Newsreader", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Define a família de fontes */
    --futuraPT: "Nunito", sans-serif; 
    --livory: "Noto Serif", "serif";
}

*,
*::after,
*::before {
    box-sizing: border-box; /* Define a modelagem de caixa para incluir borda e preenchimento no cálculo do tamanho total */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
}

html, body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    font-size: 16px; /* Define o tamanho da fonte padrão */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

ul,
ol {
    list-style: none; /* Remove os estilos de lista padrão */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove as margens padrão */
}

a {
    text-decoration: none; /* Remove a decoração de texto sublinhado */
    color: inherit; /* Herda a cor do texto do elemento pai */
}

body {
    padding: 0 48px; /* Adiciona preenchimento aos lados do corpo */
}

/* HEADER */
header {
    display: flex; /* Exibe os itens em linha */
    align-items: center; /* Alinha os itens verticalmente */
    height: 80px; /* Define a altura do cabeçalho */
}

header>h1 {
    width: 100%; /* Garante que o título ocupe toda a largura do cabeçalho */
    font-family: var(--freightBigPro);
    color: var(--dark-purple); /* Define a cor do texto */
    font-size: 48px; /* Define o tamanho da fonte */
    font-weight: 400; /* Define o peso da fonte */
}

.menu-navegacao {
    font-family: var(--futuraPT); /* Define a família de fontes */
    font-size: 15px; /* Define o tamanho da fonte */
    color: var(--dark-gray); /* Define a cor do texto */
    display: flex; /* Exibe os itens em linha */
    justify-content: flex-end; /* Alinha os itens à direita */
}

.menu-navegacao li {
    margin: 0 20px; /* Adiciona margens aos itens de menu */
}

.menu-navegacao a {
    transition: 0.5s;
}

.menu-navegacao a:hover {
    color: var(--dark-purple);
}

/* TORNANDO RESPONSIVO */

.hamburguer {
    display: none; /* Oculta o ícone hamburguer */
    border: none;
    background: none;
    border-top: 3px solid var(--dark-gray); /* Define a borda superior */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

.hamburguer::before,
.hamburguer::after {
    position: relative; /* Define a posição relativa */
    content: ""; /* Adiciona conteúdo vazio */
    display: block; /* Exibe como bloco */
    height: 3px; /* Define a altura das barras */
    width: 30px; /* Define a largura das barras */
    margin-top: 5px; /* Define a margem superior */
    background-color: var(--dark-gray); /* Define a cor das barras */
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

/* Exibição do menu hamburguer quando a largura da tela é menor que 950px */
@media (max-width: 950px) {
    header h1 {
        font-size: 32px; /* Define o tamanho da fonte do título */
    }

    .hamburguer {
        display: block; /* Exibe o ícone hamburguer */
        z-index: 3; /* Define a ordem de empilhamento */
    }

    .menu-navegacao {
        position: fixed; /* Define a posição fixa */
        top: 0; /* Alinha no topo */
        left: 0; /* Alinha à esquerda */
        width: 100%; /* Define a largura total */
        height: 100%; /* Define a altura total */
        background-color: white; /* Define a cor de fundo */
        flex-direction: column; /* Define a direção da flexbox como coluna */
        justify-content: flex-start; /* Alinha os itens ao início */
        font-family: var(--futuraPT); /* Define a família da fonte */
        font-size: 32px; /* Define o tamanho da fonte */
        padding: 40px 20px; /* Adiciona preenchimento */
        transition: left 0.5s ease; /* Adiciona transição suave */
        overflow-y: auto; /* Habilita a rolagem vertical */
        overscroll-behavior: none; /* Desabilita o comportamento de rolamento */
        z-index: 2; /* Define a ordem de empilhamento */
    }

    .menu-navegacao li {
        padding-block: 10px; /* Adiciona preenchimento superior e inferior */
        margin-block: 5px; /* Adiciona margem superior e inferior */
    }

    /* Estilo para ocultar o menu de navegação */
    .menu-navegacao.hidden {
        left: -100%; /* Move o menu para fora da tela */
    }

    /* Estilo para ocultar a rolagem da página quando o menu de navegação está aberto */
    body.menu-aberto {
        overflow: hidden; /* Desabilita a rolagem */
    }

    .menu-aberto .hamburguer {
        border-top: 0; /* Remove a borda superior do ícone hamburguer */
    }

    .menu-aberto .hamburguer::before {
        transform: rotate(45deg); /* Rotação e deslocamento da linha superior */
    }
    
    .menu-aberto .hamburguer::after {
        transform: rotate(-45deg); /* Rotação e deslocamento da linha inferior */
        top: -7px; /* Desloca a linha inferior para cima */
    }
}


/* ASIDE */

hr {
    width: 90%; /* Largura */
    margin: 40px auto; /* Margem superior e inferior */
    color: var(--dark-gray); /* Cor */
}

aside {
    display: flex; /* Exibe os itens em linha */
    width: 90%; /* Largura */
    margin: auto; /* Centraliza horizontalmente */
}

aside figure {
    flex-basis: 16%; /* Define a base de flexão para 16% */
    margin-right: 25px; /* Margem à direita */
}

aside figure:last-child {
    margin-right: 0; /* Remove a margem à direita do último item */
}

aside figure img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
}

@media (max-width: 950px) {
    hr {
        width: 100%; /* Largura */
        margin: 40px auto; /* Margem superior e inferior */
        color: var(--dark-gray); /* Cor */
    }

    aside {
        display: grid; /* Altera o layout para grid */
        grid-template-columns: repeat(2, 1fr); /* 2 colunas com largura igual */
        width: 100%;
        gap: 20px; /* Espaçamento entre as células */
    }

    aside figure {
        flex-basis: auto; /* Reinicializa a base de flexão */
        margin-right: 0; /* Remove a margem à direita */
    }
}
/* FOOTER */

footer {
    display: flex; /* Exibe os itens em linha */
    flex-direction: column; /* Direção da coluna para alinhar verticalmente */
    width: 90%; /* Largura */
    margin: auto; /* Centraliza horizontalmente */
    background-color: var(--light-pink); /* Cor de fundo */
    margin-top: 50px; /* Margem superior */
    align-items: center; /* Centraliza os itens verticalmente */
    color: var(--dark-gray); /* Cor do texto */
    padding-top: 50px; /* Espaço de preenchimento superior */
}

footer .social-icons {
    display: flex; /* Exibe os itens em linha */
}

footer .social-icons a {
    display: flex; /* Exibe os itens em linha */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 20px; /* Espaço de preenchimento */
    background-color: var(--light-pink); /* Cor de fundo */
    margin: 10px; /* Margem */
    width: 55px; /* Largura */
    height: 55px; /* Altura */
    border-radius: 50%; /* Borda circular */
    transition: 0.5s; /* Transição suave */
    border: 2px solid black; /* Borda sólida */
}

footer .social-icons a i {
    font-size: 32px; /* Tamanho da fonte do ícone */
    color: black; /* Cor do ícone */
    opacity: 0.9; /* Opacidade */
}

footer .social-icons a:hover {
    background-color: black; /* Cor de fundo ao passar o mouse */
}

footer .social-icons a:hover i {
    color: white; /* Cor do ícone ao passar o mouse */
}

footer p {
    text-align: center; /* Alinhamento central */
    font-family: var(--freightBigPro);
    color: var(--dark-gray); /* Cor do texto */
    font-size: 21px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    margin: 20px 0; /* Margem superior e inferior */
}

footer nav ul {
    font-family: var(--futuraPT); /* Fonte do texto */
    font-size: 15px; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    color: var(--dark-gray); /* Cor do texto */
    display: flex; /* Exibe os itens em linha */
}

footer nav ul li {
    margin: 30px 15px; /* Margem superior e inferior */
    padding-bottom: 20px; /* Espaçamento inferior */
}

@media (max-width: 950px) {
    footer {
        width: calc(100% + 96px); /* Largura */
        margin-top: 100px; /* Margem superior */
        padding-top: 50px; /* Espaço de preenchimento superior */
        transform: translateX(-48px);
    }
    
    footer nav ul {
        font-family: var(--futuraPT); /* Fonte do texto */
        font-size: 15px; /* Tamanho da fonte */
        font-weight: 600; /* Peso da fonte */
        color: var(--dark-gray); /* Cor do texto */
        display: flex; /* Exibe os itens em linha */
        flex-wrap: wrap;
        justify-content: center;
        padding-block: 40px; /* Espaçamento inferior */
    
    }
    
    footer nav ul li {
        margin: 0px 15px; /* Margem superior e inferior */
    }
    
}
