@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Definindo variáveis de cor */
:root {
    --dark-purple: #5A0264;
    --dark-gray: #404040;
    --light-pink: #ECE4F1;
    --light-purple: #814992;
}

/* Redefinindo e padronizando */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Começando a estilização */
body {
    padding: 0 3rem;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    height: 5rem;
}

header > h1 {
    width: 100%;
    font-family: "Cormorant Garamond", "Newsreader", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-purple);
    font-size: 3rem;
    font-weight: 400;
}

.menu-navegacao {
    font-family: "Nunito", sans-serif;
    font-size: 0.9375rem;
    color: var(--dark-gray);
    display: flex;
    justify-content: flex-end;
}

.menu-navegacao li {
    margin: 0 1.25rem;
}

/* MAIN */

.main-image {
    position: relative; /* Posição relativa para posicionamento do conteúdo absoluto */
    width: 100%; /* Certifique-se de definir a largura para ocupar todo o espaço disponível */
    height: calc(100vh - 5rem); /* Defina a altura desejada subtraindo a altura do cabeçalho */
    overflow: hidden; /* Isso fará com que o conteúdo excedente seja cortado */
}

.main-image img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Para corrigir qualquer espaço extra ao redor da imagem */
}

.main-image h2 {
    position: absolute; /* Posicionamento absoluto para centralizar o texto */
    top: 20%; /* Posiciona o texto no centro vertical */
    left: 55%; /* Posiciona o texto no centro horizontal */
    color: white; /* Cor do texto */
    font-family: "Libre Baskerville", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Fonte do texto */
    font-size: 3.75rem; /* Tamanho da fonte */
    font-weight: 300; /* Peso da fonte */
    -webkit-text-stroke: 0.0625rem black; /* Adiciona contorno ao texto */
}

.services {
    width: 85%; /* Largura do container de serviços */
    margin: auto; /* Centraliza horizontalmente */
    padding: 0 1.25rem; /* Adiciona espaço de preenchimento às laterais */
}

.services h2 {
    text-align: end; /* Alinha o texto à direita */
    font-family: "Cormorant Garamond", "Libre Baskerville", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Fonte do texto */
    color: var(--dark-gray); /* Cor do texto */
    font-size: 3.4375rem; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    margin: 5rem 0; /* Margem superior e inferior */
}

.services .container {
    position: relative; /* Posição relativa para posicionamento do conteúdo absoluto */
    display: flex; /* Exibe os itens em linha */
}

.container figure {
    flex-basis: 70%; /* Define a base de flexão para 70% */
}

.container img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
}

.container .menu-container {
    background-color: var(--light-pink); /* Cor de fundo */
    position: absolute; /* Posicionamento absoluto */
    width: 50%; /* Largura */
    text-align: center; /* Alinhamento de texto */
    right: 0%; /* Alinha o elemento à direita */
    top: 50%; /* Posiciona o elemento no centro vertical */
    transform: translate(0, -50%); /* Centraliza verticalmente */
    font-family: "Noto Serif", "serif"; /* Fonte do texto */
    color: var(--dark-gray); /* Cor do texto */
    padding: 1.25rem; /* Adiciona espaço de preenchimento */
}

.menu-container h3 {
    font-size: 2.125rem; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    letter-spacing: 0.10625rem; /* Espaçamento entre letras */
}

.menu-container p {
    margin: 1.25rem 0; /* Margem superior e inferior */
    font-size: 1.125rem; /* Tamanho da fonte */
}

.menu-container button {
    background-color: var(--light-pink); /* Cor de fundo */
    padding: 1.25rem 3.75rem; /* Espaço de preenchimento */
    margin-top: 1.875rem; /* Margem superior */
    font-family: "Nunito", sans-serif; /* Fonte do texto */
    font-size: 1rem; /* Tamanho da fonte */
    color: var(--light-purple); /* Cor do texto */
    border: 0.125rem solid var(--light-purple); /* Borda sólida */
}

/* ASIDE */

hr {
    width: 82%; /* Largura */
    margin: 2.5rem auto; /* Margem superior e inferior */
    color: var(--dark-gray); /* Cor */
}

aside {
    display: flex; /* Exibe os itens em linha */
    width: 82%; /* Largura */
    margin: auto; /* Centraliza horizontalmente */
}

aside figure {
    flex-basis: 16%; /* Define a base de flexão para 16% */
    margin-right: 1.5625rem; /* Margem à direita */
}

aside figure:last-child {
    margin-right: 0; /* Remove a margem à direita do último item */
}

aside figure img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    width: 82%; /* Largura */
    margin: auto; /* Centraliza horizontalmente */
    background-color: var(--light-pink); /* Cor de fundo */
    margin-top: 3.125rem; /* 50px convertido para rem */
    align-items: center; /* Centraliza os itens verticalmente */
    color: var(--dark-gray); /* Cor do texto */
    padding-top: 3.125rem; /* 50px convertido para rem */
}

footer .social-icons {
    display: flex; /* Exibe os itens em linha */
}

footer .social-icons a {
    display: flex; /* Exibe os itens em linha */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 1.25rem; /* 20px convertido para rem */
    background-color: var(--light-pink); /* Cor de fundo */
    margin: 0.625rem; /* 10px convertido para rem */
    width: 3.4375rem; /* 55px convertido para rem */
    height: 3.4375rem; /* 55px convertido para rem */
    border-radius: 50%; /* Borda circular */
    transition: 0.5s; /* Transição suave */
    border: 0.125rem solid black; /* Borda sólida */
}

footer .social-icons a i {
    font-size: 2rem; /* 32px convertido para rem */
    color: black; /* Cor do ícone */
    opacity: 0.9; /* Opacidade */
}

footer .social-icons a:hover {
    background-color: black; /* Cor de fundo ao passar o mouse */
}

footer .social-icons a:hover i {
    color: white; /* Cor do ícone ao passar o mouse */
}

footer p {
    text-align: center; /* Alinhamento central */
    font-family: "Cormorant Garamond", "Libre Baskerville", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Fonte do texto */
    color: var(--dark-gray); /* Cor do texto */
    font-size: 1.3125rem; /* 21px convertido para rem */
    font-weight: 400; /* Peso da fonte */
    margin: 1.25rem 0; /* Margem superior e inferior */
}

footer nav ul {
    font-family: "Nunito", sans-serif; /* Fonte do texto */
    font-size: 0.9375rem; /* 15px convertido para rem */
    font-weight: 600; /* Peso da fonte */
    color: var(--dark-gray); /* Cor do texto */
    display: flex; /* Exibe os itens em linha */
}

footer nav ul li {
    margin: 1.875rem 0.9375rem; /* 30px 15px convertido para rem */
    padding-bottom: 1.25rem; /* 20px convertido para rem */
}
