@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Definindo variáveis de cor */
:root {
    --dark-purple: #5A0264;
    --dark-gray: #404040;
    --light-pink: #ECE4F1;
    --light-purple: #814992;
}

/* Redefinindo e padronizando */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Começando a estilização */

body {
    padding: 0 48px;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    height: 80px;
}

header > h1 {
    width: 100%;
    font-family: "Cormorant Garamond", "Newsreader", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-purple);
    font-size: 48px;
    font-weight: 400;
}

.menu-navegacao {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    color: var(--dark-gray);
    display: flex;
    justify-content: flex-end;
}

.menu-navegacao li {
    margin: 0 20px;
}

/* MAIN */

.main-image {
    position: relative;
    width: 100%; /* Certifique-se de definir a largura */
    height: calc(100vh - 80px); /* Defina a altura desejada */
    overflow: hidden; /* Isso fará com que o conteúdo excedente seja cortado */
}

.main-image img {
    width: 100%;
    height: auto; 
    display: block; /* Para corrigir qualquer espaço extra ao redor da imagem */
}

.main-image h2 {
    position: absolute;
    top: 20%;
    left: 55%;
    color: white;

    font-family: "Libre Baskerville", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 300;

    -webkit-text-stroke: 1px black; /* Para navegadores baseados em WebKit */
}

.services {
    width: 85%;
    margin: auto;
    padding: 0 20px;
}

.services h2 {
    text-align: end;
    font-family: "Cormorant Garamond", "Libre Baskerville", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-gray);
    font-size: 55px;
    font-weight: 400;
    margin: 80px 0;
}

.services .container {
    position: relative;
    display: flex;
}

.container figure {
    flex-basis: 70%;

}
.container img {
    width: 100%;
}

.container .menu-container {
    background-color: var(--light-pink);
    position: absolute;
    width: 50%;
    text-align: center;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "Noto Serif", "serif";
    color: var(--dark-gray);
    padding: 20px;
}

.menu-container h3 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1.7px;
}

.menu-container p {
    margin: 20px 0;
    font-size: 18px;
}

.menu-container button {
    background-color: var(--light-pink);
    padding: 20px 60px;
    margin-top: 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: var(--light-purple);
    border: 2px solid var(--light-purple);
}

/* ASIDE */

hr {
    width: 82%;
    margin: 40px auto;
    color: var(--dark-gray);
}
aside {
    display: flex;
    width: 82%;
    margin: auto;
}

aside figure {
    flex-basis: 16%;
    margin-right: 25px;
}

aside figure:last-child {
    margin-right: 0;
}

aside figure img {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: auto;
    background-color: var(--light-pink);
    margin-top: 50px;
    align-items: center;
    color: var(--dark-gray);
    padding-top: 50px;
}

footer .social-icons {
    display: flex;
    
}

footer .social-icons a {
    display: flex; /* Adiciona display flex para centralizar */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 20px;
    background-color: var(--light-pink);
    margin: 10px;
    width: 55px; /* Defina a mesma largura e altura */
    height: 55px; /* para garantir a borda circular */
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid black;
}

footer .social-icons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

footer .social-icons a:hover {
    background-color: black;
}

footer .social-icons a:hover i {
    color: white;
}

footer p {
    text-align: center;
    font-family: "Cormorant Garamond", "Libre Baskerville", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-gray);
    font-size: 21px;
    font-weight: 400;
    margin: 20px 0;
}

footer nav ul {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-gray);
    display: flex;
}

footer nav ul li {
    margin: 30px 15px;
    padding-bottom: 20px;
}

