@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --dark-purple: #5A0264; /* Cor roxa escura */
    --dark-gray: #404040; /* Cor cinza escura */
    --light-pink: #ECE4F1; /* Cor rosa claro */
    --light-purple: #814992; /* Cor roxa claro */
}

*,
*::after,
*::before {
    box-sizing: border-box; /* Define a modelagem de caixa para incluir borda e preenchimento no cálculo do tamanho total */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
}

html, body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    font-size: 16px; /* Define o tamanho da fonte padrão */
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}

ul,
ol {
    list-style: none; /* Remove os estilos de lista padrão */
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove as margens padrão */
}

a {
    text-decoration: none; /* Remove a decoração de texto sublinhado */
    color: inherit; /* Herda a cor do texto do elemento pai */
}

body {
    padding: 0 48px; /* Adiciona preenchimento aos lados do corpo */
}
